*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#grid-container{
    background-color: black;
    height: 600px;
    width: 90%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* grid-template-rows: repeat(2,2fr); */
    /* gap: 5px 5px; */
}
.items{
    border: 4px solid olivedrab;
    background-color: peachpuff;
}
#grid-items1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: yellow;
}
#grid-items2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: thistle;
}
#grid-items3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: turquoise;
}
#grid-items4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: gainsboro;
}
#grid-items5{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: burlywood;
}
#grid-items6{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: paleturquoise;
}